body {
  margin: 0;
  min-height: 100vh;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(40, 20px);
  gap: 4px;
}

.square {
  width: 20px;
  height: 20px;
  background-color: #1d1d1d;
  transition: background-color 1s ease;
}
